.contact {
    font-family: "poppins",
        sans-serif;
    min-height: calc(100vh - 10vh);
    margin-bottom: 5em;

    h2 {
        color: rgb(121, 246, 121);
        font-family: "Caveat",
            cursive;
        letter-spacing: .05em;
        font-size: 2rem;
        margin-bottom: 1em;
    }

    .mail {
        height: 30px;
        width: 30px;
    }

    p {
        letter-spacing: .05em;
        line-height: 1.5em;
        color: rgb(240, 249, 240);
    }

    .text {
        margin-bottom: 1em;
        margin-top: .5em;
    }

    .form {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding: 2em 1em;
        color: white;

        .name-email-container {
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            gap: 1em;

            .container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label {
                    font-family: "Caveat",
                        cursive;
                    font-size: 1.25rem;
                }

                input {
                    padding: .5em .5em;
                    background-color: transparent;
                    color: white;
                    width: 300px;
                    height: 35px;
                    border: none;
                    border-bottom: 1px solid rgb(121, 246, 121);

                    outline: none;
                    border-radius: .2em;

                    &::placeholder {
                        color: rgb(200, 201, 200);
                    }
                }
            }
        }

        .message-container {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                font-family: "Caveat",
                    cursive;
                font-size: 1.25rem;
            }

            .message {
                width: 100%;
                font-size: .85rem;
                // overflow: scroll;
                color: white;
                padding: .5em .5em;
                background-color: transparent;
                // height: 100px;
                border: none;
                border-bottom: 1px solid rgb(121, 246, 121);
                outline: none;
                border-radius: .3em;

                &::placeholder {
                    color: rgb(200, 201, 200);
                }
            }
        }

        .button {
            // border: 1px solid red;

            button {
                padding: .5em 3em;
                border-radius: .2em;
                font-size: 1.125rem;
                cursor: pointer;
                border: none;
                background-color: transparent;
                border: 1px solid rgb(121, 246, 121);
                color: white;
                transition: 0.3s;

                &:hover {
                    border: 1px solid white;
                    color: rgb(121, 246, 121);
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .contact {
        .form {
            .name-email-container {
                .container {

                    input {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:530px) {
    .contact {
        .form {
            .name-email-container {
                flex-direction: column;

                .container {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}