.hero-section {
    font-family: "Poppins",
        sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
    margin-bottom: 4em;
    margin-top: 100px;
    text-align: center;
    // border: 1px solid red;

    .hero-title {
        font-size: 2.5rem;
        margin-bottom: .5em;
        letter-spacing: .11rem;
        line-height: 2.5rem;
        color: rgb(121, 246, 121);
    }

    .hero-text {
        letter-spacing: .11rem;
    }

    .programmer {
        // border: 1px solid red;
        margin-top: 1em;
        height: 350px;
        width: 350px;
    }
}